@import "colors";

.main-title {
  font-size: 2rem;
  font-family: Verdana , serif;
  text-align: center;
  color: $bg-white;
}

.sub-title-gr {
  font-size: 1.5rem;
  font-family: Verdana , serif;
  font-weight: 600;
  color: $bg-green;
}

.text-m-bl {
  text-align: start !important;
  color: $bg-blue !important;
  border: none;
  font-size: 0.938rem;
}

.text-m-gy {
  font-size: .9rem;
  font-family: Verdana , serif;
  color: $bg-gray-text;
  margin: 0;
}

.text-m-bl {
  font-size: .9rem;
  font-family: Verdana , serif;
  color: $bg-black;
  text-align: start;
  margin: 0;
}
