<div class="table-main">
  <div class="table-wrapper">
    <div class="contents-table" [ngClass]="isCollapsedSB===true ? '': 'contents-table-false'">
      <p class="sub-title-gr">Gestión de usuarios</p>
      <div class="table-container scrollbar-gy">
        <!-- table users -->
        <mat-card class="mat-card">
          <div class="table">
            <div class="table-content">
              <table  mat-table
                      [dataSource]="dataSource"
                      matSort>
                <!-- columns -->
                <ng-container *ngFor="let column of columns; let i = index"  [matColumnDef]="column">
                  <th mat-sort-header class="small-text-b-bl"
                      *matHeaderCellDef> {{columnsName[i]}}
                  </th>
                  <td mat-cell *matCellDef="let element">
                    <p>{{element[column]}}</p>
                  </td>
                </ng-container>

                <!-- row with different styles -->

                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="
                let row;
                let even = even;
                columns: displayedColumns;"
                    [ngClass]="{gray: even}"></tr>
              </table>
            </div>
            <!-- paginator table -->

            <div class="mat-paginator content-paginator">
              <mat-paginator [pageSizeOptions]="[sizeUsersTable]" >
              </mat-paginator>
              <div class="size-page">
                <p class="end-index"> de {{endIndex}} </p>
              </div>
            </div>

          </div>
        </mat-card>
      </div>
    </div>

  </div>

</div>
